<div class="back-system">
  <div class="back-menu-top">
    <img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="back-logo">
    <div class="top-tips">
      <div class="back-tips">
        <i class="fa fa-bell-o fa-user"></i>
        <span class="back-user-text">tips</span>
      </div>
      <div class="back-tips dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user-circle fa-user"></i>
          <span class="pl5" *ngIf="currentUser != null && currentUser.userName != null && currentUser.userName != ''">{{currentUser.userName}}</span>
          <span class="pl5" *ngIf="currentUser == null || currentUser.userName == null || currentUser.userName == ''">请登录</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" routerLink="/login" routerLinkActive="active"><span>登 录</span></a></li>
          <li><a href="#" routerLink="/reset-password" routerLinkActive="active"><span>重置密码</span></a></li>
          <li (click)="logout()"><a href="javascript:;"><span>退 出</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="back-menu-left">
    <ul class="menu-ul">
      <li>
        <i class="fa fa-id-card-o fa-menu-li"></i>
        <span class="menu-span"><a routerLink="/employee-manage" routerLinkActive="active">员工管理</a></span>
      </li>
      <li><a routerLink="/student-info" routerLinkActive="active">学生信息管理</a></li>
      <li><a routerLink="/register" routerLinkActive="active">基础数据管理</a></li>
      <li>相册管理</li>
      <li>学生管理</li>
      <li>招聘管理</li>
    </ul>
  </div>
</div>
<div class="main-contain">
  <div class="back-main-content">
    <ol class="breadcrumb">
      <li class="active">首页</li>
    </ol>
    <div class="app-content">
      <div class="app-left">
          <div class="welcome">欢迎您 {{currentUser.userName}}</div>
      </div>
      <div class="app-right row">
        <div class="col-xs-4">姓名：</div>
        <div class="col-xs-4">电话：</div>
        <div class="col-xs-4">职称：</div>
        <div class="col-xs-4">邮箱：</div>
        <div class="col-xs-4">毕业院校：</div>
        <div class="col-xs-4">入职时间：</div>
        <div class="col-xs-4">生日：</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
