<div class="back-main-content">
  <div class="search-query row">
    <div class="search-input">
      <div class="search-line">
        <div class="search-title"><span>姓名：</span></div>
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="姓名">
        </div>
        <div class="search-title"><span>电话：</span></div>
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="电话">
        </div>
        <div class="search-title"><span>职称：</span></div>
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="职称">
        </div>
      </div>
    </div>
    <div class="search-button">
      <button type="button" class="btn btn-primary" (click)="search(1)">查 询</button>
    </div>
  </div>

  <div class="table-responsive employee-table">
    <div class="table-add">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">新增</button>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <td>姓名</td>
        <td>联系电话</td>
        <td>邮箱</td>
        <td>职称</td>
        <td>生日</td>
        <td>学位</td>
        <td>毕业院校</td>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employeeList">
        <td>{{employee.employeeName}}</td>
        <td>{{employee.employeePhone}}</td>
        <td>{{employee.employeeEmail}}</td>
        <td>{{employee.employeePosition}}</td>
        <td>{{employee.employeeBirthday}}</td>
        <td>{{employee.employeeDegree}}</td>
        <td>{{employee.employeeEduSchool}}</td>
        <td><a href="javascript:;" data-toggle="modal" data-target="#editModal" (click)="editEmployees(employee)">编辑</a></td>
      </tr>
      </tbody>
    </table>
    <!-- 分页 -->
    <nav class="pagination-nav">
      <ul class="pagination employee-page"></ul>
    </nav>
  </div>

  <!-- 新增弹层 Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addModalLabel">新增员工</h4>
        </div>
        <div class="modal-body form-inline">
          <div class="form-group">
            <label for="employeeName">姓名：</label>
            <input type="text" class="form-control" id="employeeName" placeholder="Jane Doe">
          </div>
          <div class="form-group">
            <label for="employeePhone">联系电话：</label>
            <input type="email" class="form-control" id="employeePhone" placeholder="18800001111">
          </div>
          <div class="form-group">
            <label for="employeeEmail">邮箱：</label>
            <input type="text" class="form-control" id="employeeEmail" placeholder="xx@xx.com">
          </div>
          <div class="form-group">
            <label for="employeePosition">职称：</label>
            <input type="email" class="form-control" id="employeePosition" placeholder="教授">
          </div>
          <div class="form-group">
            <label for="employeeBirthday">生日：</label>
            <input type="text" class="form-control" id="employeeBirthday" placeholder="1990-01-01">
          </div>
          <div class="form-group">
            <label for="employeeEduSchool">毕业院校：</label>
            <input type="email" class="form-control" id="employeeEduSchool" placeholder="北京大学">
          </div>
          <div class="form-group">
            <label for="employeeDegree">学位：</label>
            <input type="email" class="form-control" id="employeeDegree" placeholder="学士">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 编辑弹层 Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editModalLabel">编辑员工信息</h4>
        </div>
        <div class="modal-body form-inline">
          <div class="form-group">
            <label for="EditEmployeeName">姓名：</label>
            <input type="text" class="form-control" id="EditEmployeeName" placeholder="Jane Doe" [(ngModel)]="editEmployee.employeeName">
          </div>
          <div class="form-group">
            <label for="EditEmployeePhone">联系电话：</label>
            <input type="email" class="form-control" id="EditEmployeePhone" placeholder="18800001111" [(ngModel)]="editEmployee.employeePhone">
          </div>
          <div class="form-group">
            <label for="EditEmployeeEmail">邮箱：</label>
            <input type="text" class="form-control" id="EditEmployeeEmail" placeholder="xx@xx.com" [(ngModel)]="editEmployee.employeeEmail">
          </div>
          <div class="form-group">
            <label for="EditEmployeePosition">职称：</label>
            <input type="email" class="form-control" id="EditEmployeePosition" placeholder="教授" [(ngModel)]="editEmployee.employeePosition">
          </div>
          <div class="form-group">
            <label for="EditEmployeeBirthday">生日：</label>
            <input type="text" class="form-control" id="EditEmployeeBirthday" placeholder="1990-01-01" [(ngModel)]="editEmployee.employeeBirthday">
          </div>
          <div class="form-group">
            <label for="EditEmployeeEduSchool">毕业院校：</label>
            <input type="email" class="form-control" id="EditEmployeeEduSchool" placeholder="北京大学" [(ngModel)]="editEmployee.employeeEduSchool">
          </div>
          <div class="form-group">
            <label for="EditEmployeeDegree">学位：</label>
            <input type="email" class="form-control" id="EditEmployeeDegree" placeholder="学士" [(ngModel)]="editEmployee.employeeDegree">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>
  </div>

</div>

